
[Unit]
Description=The CPS service is responsible for supporting communcation between applications
After=systemd-journal-flush.service
Wants=systemd-journal-flush.service
DefaultDependencies=no

[Service]
ExecStart=/opt/ngos/bin/cps_api_service.sh

# Resource Limitations
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
