
[Unit]
Description=The CPS service is responsible for supporting communcation between applications
After=redis-server.service
Wants=redis-server.service
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/sonic_object_library.sh

# Resource Limitations
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
