debian/sonic-ndi-api-dev

# http://www.gnu.org/software/automake

Makefile.in
Makefile

config.guess.dh-orig
config.log
config.status
config.sub.dh-orig
debian/sonic-ndi-api-dev.debhelper.log
debian/sonic-ndi-api-dev.substvars
libtool
config.h.in~
config.guess
config.h
config.sub

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

.libs
debian/.debhelper/generated/
debian/debhelper-build-stamp
debian/files
debian/tmp/
src/.libs/
tmp/

debian/.debhelper
debian/autoreconf.after
debian/autoreconf.before
ltmain.sh
src/.deps/.dirstamp
src/.dirstamp
*.in
m4
*.la
*.o
*.lo
*.a
inc/stamp-h1
*.log
*.substvars
*.debhelper
*.swp
debian/libsonic-nas-acl
debian/tmp
debian/libsonic-object-library-dev

debian/libsonic-object-library0

debian/python-sonic-object-library/
debian/sonic-object-library/
sonic_object_service
src/python_extension/.deps/
src/python_extension/.dirstamp

