Package: sonic-object-library-dev
Source: sonic-object-library
Version: 1.1.0
Architecture: amd64
Maintainer: Dell <support@dell.com>
Installed-Size: 125
Depends: sonic-common-utils-dev, sonic-cps-api, sonic-logging-dev
Section: net
Priority: optional
Description: This package contains SONiC object library.  The sonic object library is provides APIs to set/get/delete/create and execute RPC calls using data models provided by components.
